<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/app_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="b2kjcldcq0" /> <!-- 처음 시작하는 화면을 설정 -->

        <!--        스플래쉬-->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        로그인-->
        <activity android:name=".ui.login.MainActivity" />

        <!--        카카오 로그인-->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoe9c2a8bf10ae12652fdc9ee9059ac02f" />
            </intent-filter>
        </activity>

        <!--        회원가입-->
        <activity
            android:name=".ui.login.AgreementActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!--        홈-->
        <activity
            android:name=".ui.main.SecondActivity"
            android:exported="true" />

        <!--        매장 상세-->
        <activity
            android:name=".ui.storecloth.storedetail.StoreActivity"
            android:exported="false" />

        <!--        옷 상세-->
        <activity android:name=".ui.storecloth.clothdetail.ClothActivity" />

        <!--        검색-->
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />

    </application>
</manifest>